*{
    margin: 0;
    padding: 0;
}
.container{
    background-color: antiquewhite;
    border: solid 2px black;
    width: 1200px;
    margin: 0 auto;
}
img{
    width: 300px;
    display: block;
    margin: 0 auto;
}
h1{
    text-align: center;
}
p{
    text-align: center;
}
